 *{
  text-align:center;
}

.header input{
  width:320px;
  height:34px;
}
.header button{
  height:40px;
  background-color:whitesmoke;
}
h1{
  color:red;
}

h3,h2{
  color:green;
}

.maindiv{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

img{
  width:200px;
  height:200px
}
.cards{
  background-color:whitesmoke;
  margin:20px;
  width:320px;
  border-radius:20px;
  text-align:center;
  padding:20px;
}